<%- include('./partials/head') %>
<header class="header">
    <h1 class="h1">Amsterdam-West verbindt<br>Doe jij ook mee?</h1>
    <p class="text">Buurtcampus brengt buren samen door middel van lokale initiatieven</p>
    
</header>

<a  href="/" class="lijst-button">Aanmelden</a>
<a  href="/" class="lijst-button-mobile">Aanmelden</a>


<div class="buurtcampus-informatie">
    <img class="informatie-image" src="/assets/filip-urban-ffJ8Qa0VQU0-unsplash.jpg" alt="Kind in de tuin">
    <div class="informatie-container">
        <h2 class="informatie-titel">Wat is BuurtCampus?</h2>
        <p class="informatie-text">Op Buurtcampus vind je een diverse verzameling van initiatieven variërend van groene projecten, zoals buurtmoestuinen en zwerfvuil opruimacties, tot culturele evenementen zoals straatfeesten en kunstworkshops.
    </div>
</div>

<div class="buurtcampus-informatie">
    <img class="informatie-image" src="/assets/ABC west.png" alt="Buurvrouwen">
    <div class="informatie-container">
        <h2 class="informatie-titel">De initatieven</h2>
        <p class="informatie-text">Elk initiatief is opgestart door mensen uit de buurt, voor de buurt. Het is een fantastische manier om nieuwe mensen te ontmoeten, je vaardigheden te ontwikkelen, en een positieve impact te hebben op je directe omgeving.
    </div>
</div>

<%- include('./partials/foot') %>