* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  :root {
    --achtergrondKleur: #A1D6E2;
    --secundaireAchtergrondKleur: #F1F1F2;
    --tekstAchtergrondKleur: #1995AD;
    --tekstKleur: #212121;
    --mainFont: "Roboto", sans-serif;
    --secondFont: "Roboto slab", sans-serif;
    --secundaireTekstKleur: white;
  }

body {
    background-color: var(--achtergrondKleur);
    /* max-width: 1200px; */
    margin: auto;
    transition: transform .5s;
    
}

body.slide-right {
    transform: translateX(30vw);
    overflow: hidden;
}

/* globale styling met breakpoints */

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    font-family:  var(--mainFont);
    color: var(--tekstKleur);
}

.text {
    font-family: var(--secondFont);
    font-weight: 300;
    font-size: 1.1em;
    padding-top: .5em;
    color: var(--tekstKleur);
}
.h1 {
    font-family: var(--mainFont);
    font-weight: 600;
    font-size: 2.5em;
    color: var(--tekstKleur);
}

@media screen and (min-width: 900px) {
    
    .h1 {
    font-weight: 800;
    font-size: 4.5em;
    }
}
.h2 {
    font-family: var(--mainFont);
    color: var(--tekstKleur);
    font-weight: 600;
    font-size: 1.5em;
}

@media screen and (min-width: 900px) {
    .h2 {
        font-size: 2em;
    }
}

.h3 {
    font-family: var(--mainFont);
    color: var(--tekstKleur);
    font-size: 1em;
}

.background {
    background-color: var(--tekstAchtergrondKleur);
}
/* classes voor de scroll animatie */
.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.active {
    transform: translateY(0);
    opacity: 1;
}

.navigatiebalk {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: row;
    padding: 2em 4em 1em 4.3em;
    background-color: var(--secundaireAchtergrondKleur);
}

.menu-lijst {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: auto;
    
}

.mobile-menu-lijst {
    float: left;
    transform: translateX(-30vw);
    position: fixed;
    top: 0;
    left: 0;
    background: var(--secundaireAchtergrondKleur);
    width: 30vw;
    height: 100vh;
    padding: 1.2em .6em;
}

.mobile-lijst-item {
    display: flex;
    color: var(--tekstKleur);
    font-size: 1em;
    padding-top: 1.9em;
}

@media screen and (min-width: 400px) {

    .mobile-lijst-item {
        font-size: 1.2em;
        padding-left: .4em;
    }
}

.lijst-item {
    display: none;
    margin-right: 1.5em;
    font-weight: 500;
    font-size: 1.25em;
}

@media screen and (min-width: 900px) {
    
    .lijst-item {
        display: block;
    }
}

.lijst-item::after {
content: "";
width: 0%;
height: 2px;
background: black;
display: block;
margin: auto;
transition: 0.5s;
}

.lijst-item:hover::after {
    width: 100%;
  }

.lijst-button {
    display: none;
    font-weight: 500;
    font-size: 1.1em;
    color: white;
    background-color: var(--tekstAchtergrondKleur);
    padding: .65em 1.3em;
    border-radius: .5em;
    /* margin-top: 1.2em; */
}

@media screen and (min-width: 900px) {

    .lijst-button {
        display: inline-block;
    }
}

.lijst-button-mobile {
    display: inline-block;
    margin-right: 1em;
    font-weight: 500;
    font-size: 1.1em;
    color: var(--secundaireTekstKleur);
    background-color: var(--tekstAchtergrondKleur);
    padding: .65em 1.3em;
    border-radius: .5em;
    margin-left: 2em;
}

@media screen and (min-width: 900px) {
  
    .lijst-button-mobile {
        display: none;
    }
}

.hamburger {
    display: block;
    cursor: pointer;
    padding-right: .2em;
    transition: transform .5s;
}

@media screen and (min-width: 900px) {
    
    .hamburger {
        display: none;
    }
}

.bar {
    display: block;
    width: 35px;
    height: 4.2px;
    margin: 7px auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: var(--tekstKleur);
}

.hamburger.active {
    transform: translateX(-24vw);
}
@media screen and (min-width: 500px) {
    
    .hamburger.active {
        transform: translateX(-30vw);
    } 
}

.header-wave {
    position: absolute;
    width: 100%;
    left: 0;
    overflow: hidden;
    line-height: 0;
}

.header-wave svg {
    position: relative;
    display: block;
    width: calc(140% + 1.3px);
    height: 145px;
    z-index: -1;
}

.header-wave .shape-fill {
    fill: var(--secundaireAchtergrondKleur);
}




.hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(10.7px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-10.7px) rotate(-45deg);
  }

  .header {
    padding: 4em 4em;
}

.header p {
    margin-bottom: 1.6em;
    font-size: 1.2em;
}
@media screen and (min-width: 900px) {

    .header p {
        font-weight: 300;
        font-size: 1.5em;
        padding-top: .5em;
    }
}

.buurtcampus-informatie {
    display: flex;
    max-width: 400px;
    flex-direction: column;
    margin: auto;
    margin-top: 4em;
    margin-bottom: 4em;
    box-shadow: 2px 12px 22px 4px rgba(115,115,115,1);
    border-radius: .8em;
}

.informatie-image {
    width: 100%;
    height: auto;
    max-height: 250px;
    border-radius: .8em .8em 0 0;
    object-fit: cover;
}

.informatie-container {
    /* margin: 1em 1.3em; */
}

.informatie-titel {
    font-family: var(--mainFont);
    color: var(--tekstKleur);
    font-weight: 500;
    font-size: 1.3em;
}


.informatie-text {
    font-size: 1.1em;
    line-height: 1.3em;
    font-weight: 300;
    color: var(--tekstKleur);
    font-family: var(--secondFont);
    padding-top: .7em;
    
}

@media screen and (min-width: 900px) {

    .buurtcampus-informatie {
        flex-direction: row-reverse;
        align-items: center;
        /* gap: 25em; */
        margin: 0;
        box-shadow: none;
        max-width: 1800px;
        padding: 0 4em;
        margin-bottom: 6em;
        
    }

    .informatie-image {
        border-radius: 0;
        max-height: 300px;
    }

    .informatie-container {
        max-width: 500px;
    
    }

    .informatie-titel {
        font-weight: 600;
        font-size: 1.9em;
    }
    
    .informatie-text {
        font-size: 1.4em;
        margin-bottom: 1.3em;
    }
}


.initiatief-kaartlijst {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding: 0em 2em;
    
}

@media screen and (min-width: 760px) {

    .initiatief-kaartlijst {
        flex-direction: row;
        flex-wrap: wrap;
        gap: .5em 2em;
        justify-content: center;
    }
}

.initiatief-kaart {
   display: flex;
   flex-direction: column;
   background-color: var(--tekstKleur);
   margin-bottom: 1.3em;
   border-radius: .8em;
   
}

@media screen and (min-width: 760px) {

    .initiatief-kaart {
        width: 320px;
    }
}

.kaart-content {
    color: var(--achtergrondKleur);
    padding: 1em 1em 0em 1em;
    
}

.kaart-content h3 {
    color: var(--achtergrondKleur);
    margin-bottom: .8rem;
    letter-spacing: .03em;
}

.kaart-content p {
    font-size: 1em;
    margin-top: .4rem;
    letter-spacing: .03em;
}

.lees-meer {
    background-color: var(--tekstAchtergrondKleur);
    color: white;
    margin-top: auto;
    margin-left: auto;
    margin-right: 1em;
    margin-bottom: 1em;
    padding: .3em .6em;
    border-radius: .4rem;
}